@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.freelance {
  font-size: 40px;
  font-family: "Lobster";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "DM Sans";
  color: white;
  background-color: #2e342e;
}

@layer utilities {
  .flexBetween {
    @apply flex items-center justify-between;
  }

  .btn_green_rounded {
    @apply border-green-500 bg-green-500 px-8 py-4 text-white transition-all hover:ring-offset-emerald-600;
  }
}
