/* please note this is the same styling for client.jsx and hence must be styled 
carefully so it doesn't affect the styling in client.css */

.dealoit-icon_image {
  width: 495px;
}

/* .badass {
    background-color: #3fe53f;
  } */

.client-image {
  height: 1007px;
}

.video-item {
  text-align: center;
}

.video-item_title {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.btn-wrap {
  text-align: center;
  margin: 21px 0;
}

.badass {
  width: 366px;
  margin: auto;
}

.badass_bg {
  background-color: #1a4119;
  height: 627px;
  margin: 41px auto;
  border-radius: 19px;
  padding: 12px;
}

.business-btn {
  font-family: inherit;
  width: 218px;
  border: none;
  outline: none;
  margin: auto;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 27px;
  height: 40px;
  transition: all 0.5s ease-out;
}

.business-freelance {
  font-size: 50px;
}

.search-circle {
  font-size: 20px;
}

.business-btn:hover {
  background-color: #ffffff;
  color: #265326;
}
.video-item_ {
  text-align: center;
}

.advert-header-text {
  font-size: 50px;
}

@media (min-width: 668px) {
  .badass_ {
    width: 375px;
  }

  .video-item_main_img {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .btn-wrap {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .client-advert_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    padding: 37px 0;
    width: 90%;
    margin: auto;
  }
  /* .client-image {
      height: 767px;
    } */

  .badass_bg {
    height: 446px;
    width: 80%;
  }

  .btn-wrap {
    text-align: left;
    margin: 21px 0;
  }

  .video-item {
    text-align: left;
  }

  .badass {
    width: 435px;
  }

  .business-btn {
    text-align: left;
    margin: 0;
  }

  .video-item_title {
    display: flex;
    justify-content: center;
  }

  .btn-wrap {
    justify-content: left;
  }
}

.btn {
  background-color: #2d5f2c;
}

.upgrade_text {
  width: 70%;
  margin: auto;
}

.video_concept_wrapper {
  width: 70%;
  margin: auto;
}
